/**
 * Buttons
 */

button, .button {
    @apply flex justify-center py-2 px-4 text-sm font-medium rounded-full text-light tracking-widest select-none;

    // Add animation on hover
    @extend .animated;

    &:hover {
        @apply text-secondary no-underline;
    }

    &:focus {
        @apply outline-none no-underline;
    }

    &.bordered {
        @apply border;

        &:hover {
          @apply border-info text-info;
        }
    }

    // Icon helper - center text
    &.icon {
        @apply inline-flex items-center;

        &-r {
            @extend .icon;
            i {
                @apply mr-2;
            }
        }

        &-l {
            @extend .icon;
            i {
                @apply ml-2;
            }
        }
    }

    // Primary
    &.primary {
        @apply bg-primary text-white;

        &:hover {
            @apply bg-secondary text-white;
        }

        &:active {
            @apply bg-info text-white;
        }
    }

    // Primary
    &.cta {
        @apply border border-2 border-tertiary text-light;

        &:hover {
            @apply border border-2 border-warning bg-warning;
        }

        &:active {
            @apply bg-warning text-light
        }
    }

    // Link
    &.link {
      @apply p-0 text-warning text-base tracking-wider;

      &:hover {
        @apply text-secondary bg-transparent;
      }

    }

}
