/**
 * Layout
 */


// Overwrites
*{
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  &:focus {
    outline: none;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

img {
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.container {
  color: #343434;
}

body {
  @apply bg-grey;
}

// Typography

a {
    @apply text-primary transition ease-in-out duration-150;

    &:hover {
        @apply text-secondary no-underline;
    }

    &:focus {
        @apply text-secondary outline-none no-underline;
    }
}

h1, h2, h3 {
    @apply select-none subpixel-antialiased;
}

h1 {
  font-size: 2.3em;
}

h2 {
  font-size: 1.9em;
}

h3 {
  font-size: 1.4em;
}
